<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU ADMIN- Add Plane</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
        <header class="flytau-header">
  <div class="flytau-header__inner">
    <a class="flytau-brand" href="{{ url_for('home') }}">
      <img class="flytau-brand__logo" src="{{ url_for('static', filename='logo.png') }}" alt="FLYTAU logo">
      <div>
        <div class="flytau-brand__name">FLYTAU</div>
        <div class="flytau-brand__tagline">Find. Book. Fly.</div>
      </div>
    </a>
  </div>
</header>
    <h1>Add Plane</h1>
    <form method="post">

        <label>Manufacturer</label>
        <select name="manufacturer" required>
            <option value="">Select Manufacturer</option>
            <option value="BOEING">BOEING</option>
            <option value="AIRBUS">AIRBUS</option>
            <option value="DASSAULT">DASSAULT</option>
        </select>

        <label>Size</label>
        <select name="size" required>
            <option value="">Select size</option>
            <option value="SMALL">SMALL</option>
            <option value="LARGE">LARGE</option>
        </select>

        <label>Number of seats</label>
        <input type="number" name="num_seats" min="1" max="350" required>
        <button type="submit">Continue to classes and seats</button>
    </form>

<form method="GET" action="{{ url_for('admin_dashboard') }}">
  <button type="submit">Back to Admin</button>  
</form>
</body>


</html>
