<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU ADMIN- Add Classes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="corner-logo">
  <a href="{{ url_for('landing_page') }}">
    <img src="{{ url_for('static', filename='flytau_logo_circle.png') }}" alt="FLYTAU">
  </a>
</div>

<h1>Add Class seating</h1>

<form method="post" id="classForm">

  {% if error %}
    <div class="form-note form-error">{{ error }}</div>
  {% endif %}

  <div class="form-note">
    Number of seats will be calculated automatically based on the rows and columns you define below.
  </div>

  {% if size == 'LARGE' %}
    <label>Business Class</label>

    <label>First row</label>
    <input type="number" name="bus_first_row" min="1" required>

    <label>Last row</label>
    <input type="number" name="bus_last_row" min="1" required>

    <label>First column (A-Z)</label>
    <input type="text" name="bus_first_col" maxlength="1" pattern="[A-Za-z]" required>

    <label>Last column (A-Z)</label>
    <input type="text" name="bus_last_col" maxlength="1" pattern="[A-Za-z]" required>
  {% endif %}

  <label>Economy Class</label>

  <label>First row</label>
  <input type="number" name="eco_first_row" min="1" required>

  <label>Last row</label>
  <input type="number" name="eco_last_row" min="1" required>

  <label>First column (A-Z)</label>
  <input type="text" name="eco_first_col" maxlength="1" pattern="[A-Za-z]" required>

  <label>Last column (A-Z)</label>
  <input type="text" name="eco_last_col" maxlength="1" pattern="[A-Za-z]" required>

  <button type="submit">Save Classes</button>
</form>

<form method="GET" action="{{ url_for('admin_dashboard') }}">
  <button type="submit">Back to Admin</button>
</form>

</body>
</html>
