<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU ADMIN</title>
</head>
<body>
<h1>Add Pilot</h1>

<form method="POST" action="{{ url_for('add_pilot') }}">
  First name: <input name="first_name" required><br>
  Last name: <input name="last_name" required><br>
  city: <input name="city" required><br>
    street: <input name="street" required><br>
    house_number: <input name="house_number" required><br>
    phone_number: <input name="phone_number" required><br>
    zip_code: <input name="zip_code" required><br>

  <label>
    <input type="checkbox" name="long_haul">
    Long haul qualified
  </label><br>

  <button type="submit">Save</button>
</form>

</body>
</html>