<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU ADMIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
        <header class="flytau-header">
  <div class="flytau-header__inner">
    <a class="flytau-brand" href="{{ url_for('home') }}">
      <img class="flytau-brand__logo" src="{{ url_for('static', filename='logo.png') }}" alt="FLYTAU logo">
      <div>
        <div class="flytau-brand__name">FLYTAU</div>
        <div class="flytau-brand__tagline">Find. Book. Fly.</div>
      </div>
    </a>
  </div>
</header>
<h1>Add Steward</h1>

<form method="POST" action="{{ url_for('add_steward') }}">
  First name: <input name="first_name" required><br>
  Last name: <input name="last_name" required><br>
  city: <input name="city" required><br>
    street: <input name="street" required><br>
    house_number: <input name="house_number" required><br>
    phone_number: <input name="phone_number" required><br>
    zip_code: <input name="zip_code" required><br>
  <label>
    <input type="checkbox" name="long_haul">
    Long haul qualified
  </label><br>

  <button type="submit">Save</button>
</form>
<form method="GET" action="{{ url_for('admin_dashboard') }}">
  <button type="submit">Back to Admin</button>  
</form>
</body>


</html>
