<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU ADMIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
        <header class="flytau-header">
  <div class="flytau-header__inner">
    <a class="flytau-brand" href="{{ url_for('landing_page') }}">
      <img class="flytau-brand__logo" src="{{ url_for('static', filename='logo.png') }}" alt="FLYTAU logo">
      <div>
        <div class="flytau-brand__name">FLYTAU</div>
        <div class="flytau-brand__tagline">Find. Book. Fly.</div>
      </div>
    </a>
  </div>
</header>
    <h1>Admin Dashboard</h1>
    <p>Welcome, Admin!</p>
    <ul>
        <li><a href="/admin/create-flight">Create New Flight</a></li>
        <li><a href="/admin/flights">Manage Flights</a></li>
        <li><a href="/admin/employees">Manage Staff</a></li>
        <li><a href="/admin/reports">Reports</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/admin/add_plane">Add Plane</a></li>
    </ul>
</body>


</html>
