<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU ADMIN</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p>Welcome, Admin!</p>
    <ul>
        <li><a href="/admin/create-flight">Create New Flight</a></li>
        <li><a href="/admin/flights">Manage Flights</a></li>
        <li><a href="/admin/employees">Manage Staff</a></li>
        <li><a href="/admin/reports">Reports</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/admin/add_plane">Add Plane</a></li>
        <li><a href="/admin/generate_all_seats">generate_all_seats</a></li>
    </ul>
</body>
</html>