<!DOCTYPE html> <html> <head> <title>FLYTAU ADMIN</title> <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> </head>
<body>
<div class="corner-logo">
  <a href="{{ url_for('landing_page') }}">
    <img src="{{ url_for('static', filename='flytau_logo_circle.png') }}" alt="FLYTAU">
  </a>
</div>
<div class="page-card">
<h2>Assign Crew to Flight</h2>

{% if long_haul_required %}
    <p>This is a long-haul flight. Please assign 3 pilots and 6 stewards.</p>
{% else %}
    <p>This is a short-haul flight. Please assign 2 pilots and 3 stewards.</p>
{% endif %}
<form method="post">
  <h3>Pilots</h3>
  {% for p in pilots %}
    <label>
      <input type="checkbox" name="pilots" value="{{ p.Employee_id }}">
      {{ p.Hebrew_first_name }} {{ p.Hebrew_last_name }}
    </label><br>
  {% endfor %}

  <h3>Stewards</h3>
  {% for s in stewards %}
    <label>
      <input type="checkbox" name="stewards" value="{{ s.Employee_id }}">
      {{ s.Hebrew_first_name }} {{ s.Hebrew_last_name }}
    </label><br>
  {% endfor %}

  <button type="submit" name="action" value="confirm">Confirm & Create Flight</button>
</form>
<form method="POST">
  <button type="submit" name="action" value="cancel">Cancel</button>
</form>
{% if error %}
  <div class="error-box">
    {{ error }}
  </div>
{% endif %}
</div>
</body>

</html>
