<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU FLIGHT CREATION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="corner-logo">
  <a href="{{ url_for('landing_page') }}">
    <img src="{{ url_for('static', filename='flytau_logo_circle.png') }}" alt="FLYTAU">
  </a>
</div>
    <h1>Create Flight</h1>

<form method="post">

  <label>Origin airport</label>
  <select name="origin" required>
    <option value="">Select origin</option>
    {% for o in origins %}
      <option value="{{ o.Origin_airport }}">{{ o.Origin_airport }}</option>
    {% endfor %}
  </select>

  <label>Destination airport</label>
  <select name="destination" required>
    <option value="">Select destination</option>
    {% for d in destinations %}
      <option value="{{ d.Destination_airport }}">{{ d.Destination_airport }}</option>
    {% endfor %}
  </select>

  <label>Plane ID</label>
  <select name="plane_id" required>
    <option value="">Select plane</option>
    {% for p in planes %}
      <option value="{{ p.Plane_id }}">{{ p.Plane_id }}</option>
    {% endfor %}
  </select>

  <label>Departure date</label>
  <input type="date" name="departure_date" required>

  <label>Departure time</label>
  <input type="time" name="departure_time" required>

<label>Economy Price</label>
<input type="number" name="price" min="0" required>

<small class="manager-hint">
  Business Price is calculated as <strong>1.5×</strong> the Economy Price.
</small>



  <button type="submit">Create Flight</button>
</form>
{% if error %}
  <div class="error-box">
    {{ error }}
  </div>
{% endif %}
<form method="GET" action="{{ url_for('admin_dashboard') }}">
  <button type="submit">Back to Admin</button>  
</form>
</body>


</html>
