<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU ADMIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
        <header class="flytau-header">
  <div class="flytau-header__inner">
    <a class="flytau-brand" href="{{ url_for('landing_page') }}">
      <img class="flytau-brand__logo" src="{{ url_for('static', filename='logo.png') }}" alt="FLYTAU logo">
      <div>
        <div class="flytau-brand__name">FLYTAU</div>
        <div class="flytau-brand__tagline">Find. Book. Fly.</div>
      </div>
    </a>
  </div>
</header>
<h1>Edit Steward</h1>

<form method="POST">
  First name:
  <input name="first_name" value="{{ steward.Hebrew_first_name }}" required><br>
  Last name:
  <input name="last_name" value="{{ steward.Hebrew_last_name }}" required><br>
  City:
  <input name="city" value="{{ steward.City }}" required><br>
    Street:
    <input name="street" value="{{ steward.Street }}" required><br>
    House Number:
    <input name="house_number" value="{{ steward.House_number }}" required><br>
    Phone Number:
    <input name="phone_number" value="{{ steward.Phone_number }}" required><br>
    Zip Code:
    <input name="zip_code" value="{{ steward.Zip_code }}" required><br>
  <label>
    <input type="checkbox" name="long_haul"
           {% if steward.Long_haul_qualified %}checked{% endif %}>
    Long haul qualified
  </label><br>

  <button type="submit">Save</button>
  <a href="{{ url_for('employees') }}">Cancel</a>
</form>

</body>
</html>
