<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU EMPLOYEES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
        <header class="flytau-header">
  <div class="flytau-header__inner">
    <a class="flytau-brand" href="{{ url_for('home') }}">
      <img class="flytau-brand__logo" src="{{ url_for('static', filename='logo.png') }}" alt="FLYTAU logo">
      <div>
        <div class="flytau-brand__name">FLYTAU</div>
        <div class="flytau-brand__tagline">Find. Book. Fly.</div>
      </div>
    </a>
  </div>
</header>
<h1>Add Employees</h1>

<a href="{{ url_for('add_pilot') }}">➕ Add Pilot</a><br>
<a href="{{ url_for('add_steward') }}">➕ Add Steward</a>

<h2>Pilots</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Long haul</th>
    <th>Actions</th>
  </tr>
  {% for p in pilots %}
  <tr>
    <td>{{ p.Hebrew_first_name }} {{ p.Hebrew_last_name }}</td>
    <td>{{ "Yes" if p.Long_haul_qualified else "No" }}</td>
    <td>
      <a href="{{ url_for('edit_pilot', pilot_id=p.Employee_id) }}">Edit</a>
      |
      <form method="POST"
      action="{{ url_for('delete_pilot', pilot_id=p.Employee_id) }}"
      style="display:inline;">

    <button type="submit"
            onclick="return confirm('Delete this pilot?')">
        Delete
    </button>

</form>
    </td>
  </tr>
  {% endfor %}
</table>

<h2>Stewards</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  {% for s in stewards %}
  <tr>
    <td>{{ s.Hebrew_first_name }} {{ s.Hebrew_last_name }}</td>
    <td>
      <a href="{{ url_for('edit_steward', steward_id=s.Employee_id) }}">Edit</a>
      |
     <form method="POST"
      action="{{ url_for('delete_steward', steward_id=s.Employee_id) }}"
      style="display:inline;">

    <button type="submit"
            onclick="return confirm('Delete this steward?')">
        Delete
    </button>

</form>
    </td>
  </tr>
  {% endfor %}
</table>
<form method="GET" action="{{ url_for('admin_dashboard') }}">
  <button type="submit">Back to Admin</button>  
</form>
</body>
</html>
