<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU Flight Details</title>
</head>
<body>
    <h1>Flight Details</h1>
    <strong>Flight Number </strong> {{ flight.Flight_number }}
    <strong>Departing from: </strong> {{flight.Origin_airport}}
    <p>Departing time: </p> {{flight.Departure_date}} {{flight.Departure_time}}
    <strong>Landing at: </strong> {{flight.Destination_airport}}
    <p>Landing time: </p> {{flight.Duration}} 
    <strong>Price: </strong> {{flight.Price}}
    <p>Not what you were looking for? <a href="{{ url_for('landing_page') }}">Back to home page</a></p>
    {% if role == 'client' %}
        <form method="get" action="{{ url_for('check_out') }}">
            <input type="hidden" name="Flight_number" value="{{ flight.Flight_number }}">
            <button type="submit">Book Now!</button>
        </form>
    {% else %}
        <p>Book flight</p>
    {% endif %}
</body>
</html>