<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU Flight Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="corner-logo">
  <a href="{{ url_for('landing_page') }}">
    <img src="{{ url_for('static', filename='flytau_logo_circle.png') }}" alt="FLYTAU">
  </a>
</div>
    <div class="info-card">
  <h1>Flight Details</h1>

  <p><strong>Flight Number:</strong> {{ flight.Flight_number }}</p>
  <p><strong>Departing from:</strong> {{ flight.Origin_airport }}</p>
  <p><strong>Departing time:</strong> {{ flight.Departure_date }} {{ flight.Departure_time }}</p>
  <p><strong>Landing at:</strong> {{ flight.Destination_airport }}</p>
  <p><strong>Landing time:</strong> {{ flight.Arrival_time }}</p>
  <p><strong>Price:</strong> {{ flight.Price }}</p>
  <p><strong>Class:</strong> {{ flight.Class_type }}</p>
</div>

    <p>Not what you were looking for? <a href="{{ url_for('landing_page') }}">Back to home page</a></p>
    {% if role == 'client' %}
        <form method="get" action="{{ url_for('passenger_count', flight_number=flight.Flight_number) }}">
            <input type="hidden" name="Flight_number" value="{{ flight.Flight_number }}">
            <button type="submit">Book Now!</button>
        </form>
    {% else %}
            <form method="get" action="{{ url_for('passenger_count', flight_number=flight.Flight_number) }}">
            <input type="hidden" name="Flight_number" value="{{ flight.Flight_number }}">
            <button type="submit">Book Flight</button>
        </form>
    {% endif %}
</body>
</html>
