<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU Flight Details</title>
</head>
<body>
    <h1>Flight Details</h1><br>
    <strong>Flight Number </strong> {{ flight.Flight_number }}<br>
    <strong>Departing from: </strong> {{flight.Origin_airport}}<br>
    <strong>Departing time: </strong> {{flight.Departure_date}} {{flight.Departure_time}}<br>
    <strong>Landing at: </strong> {{flight.Destination_airport}}<br>
    <strong>Landing time: </strong> {{flight.Arrival_time}} <br>
    <strong>Price: </strong> {{flight.Price}}<br>
    <strong>Class: </strong> {{flight.Class_type}}<br><br>
    <p>Not what you were looking for? <a href="{{ url_for('landing_page') }}">Back to home page</a></p>
    {% if role == 'client' %}
        <form method="get" action="{{ url_for('passenger_count', flight_number=flight.Flight_number) }}">
            <input type="hidden" name="Flight_number" value="{{ flight.Flight_number }}">
            <button type="submit">Book Now!</button>
        </form>
    {% else %}
            <form method="get" action="{{ url_for('passenger_count', flight_number=flight.Flight_number) }}">
            <input type="hidden" name="Flight_number" value="{{ flight.Flight_number }}">
            <button type="submit">Book Flight</button>
        </form>
    {% endif %}
</body>
</html>