<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU Landing</title>
</head>
<body>
    <h1>Welcome to FLYTAU</h1>
    {% if role == 'guest' %}
        <p>You are browsing as a guest. <a href="{{ url_for('login') }}">Login</a></p>
    {% else %}
        <p>You are logged in as a {{ role }}.</p>
    {% endif %}

<form method="GET" action="{{ url_for('search') }}">
  <label for="origin">From:</label>
  <input list="airports" name="origin" id="origin" required>

  <label for="destination">To:</label>
  <input list="airports" name="destination" id="destination" required>
  <input type="date" name="date" required>
  <datalist id="airports">
    {% for a in airports %}
      <option value="{{ a.Airport_code }}"></option>
    {% endfor %}
  </datalist>

  <button type="submit">Search</button>
</form>

{% if flights is defined %}
  {% if flights %}
    <h2>Results</h2>
    <ul>
      {% for flight in flights %}
      <a href="{{ url_for('flight_view', flight_number=flight['Flight_number']) }}"
        <li>
          {{ flight.Origin_airport }} → {{ flight.Destination_airport }}
          | {{ flight.Departure_date }}
          | {{ flight.Departure_time }}
          | ₪{{ flight.Price }}
        </li>
      </a>
      {% endfor %}
    </ul>
  {% else %}
    <p>No flights found.</p>
  {% endif %}
{% endif %}

</body>
</html>