<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU Landing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="corner-logo">
  <a href="{{ url_for('landing_page') }}">
    <img src="{{ url_for('static', filename='flytau_logo_circle.png') }}" alt="FLYTAU">
  </a>
</div>
    <h1>Welcome to FLYTAU</h1>
    {% if role == 'guest' %}
        <p>You are browsing as a guest. <a href="{{ url_for('login') }}">Login</a></p>
    {% else %}
        <p>You are logged in as a {{ role }}.</p>
    {% endif %}

<form method="GET" action="{{ url_for('search') }}">
  <label for="origin">From:</label>
  <input list="airports" name="origin" id="origin" required>

  <label for="destination">To:</label>
  <input list="airports" name="destination" id="destination" required>
  <input type="date" name="date">
  <datalist id="airports">
    {% for a in airports %}
      <option value="{{ a.Airport_code }}"></option>
    {% endfor %}
  </datalist>

  <button type="submit">Search</button>
    <a href="{{ url_for('manage_booking') }}">Manage Bookings</a>
</form>
    <div class="post-results-actions">
</div>

{% if flights is defined %}
  {% if flights %}
    <h2>Results</h2>

    <ul class="results-grid">
      {% for flight in flights %}
        <li>
          <a class="result-card" href="{{ url_for('flight_view', flight_number=flight['Flight_number']) }}">
            <div class="result-top">
              <span class="result-route">{{ flight.Origin_airport }} → {{ flight.Destination_airport }}</span>
              <span class="result-price">₪{{ flight.Price }}</span>
            </div>

            <div class="result-bottom">
              <span>{{ flight.Departure_date }}</span>
              <span>{{ flight.Departure_time }}</span>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    

    <div class="post-results-actions">
      <a class="flytau-btn flytau-btn--ghost" href="{{ url_for('logout') }}">Log Out</a>
        <a href="{{ url_for('manage_booking') }}">Manage Bookings</a>
    </div>

  {% else %}
    <p>No flights found.</p>
  {% endif %}
{% endif %}

</body>
</html>
