<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="corner-logo">
  <a href="{{ url_for('landing_page') }}">
    <img src="{{ url_for('static', filename='flytau_logo_circle.png') }}" alt="FLYTAU">
  </a>
</div>
    <h1>Register for FLYTAU</h1>
    <form method="post" action="{{ url_for('register') }}">
        <input type="text" name="name" placeholder="Name" required><br><br>
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <input type="text" name="passport_number" placeholder="Passport Number" required><br><br>
        <label class="field-label" for="birth_date">Birth Date</label>
<input type="date" id="birth_date" name="birth_date" required><br><br>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    <br>
    <form method="GET" action="{{ url_for('landing_page') }}">
  <button type="submit">Back to Home Page</button>  
</form>
</body>
</html>
