<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU ADMIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="corner-logo">
  <a href="{{ url_for('landing_page') }}">
    <img src="{{ url_for('static', filename='flytau_logo_circle.png') }}" alt="FLYTAU">
  </a>
</div>
<h1>Average Seat Usage</h1>

<p>
  Average taken seats per landed flight:
<strong>{{ avg_occupancy_pct|default(0)|float|round(2) }}%</strong>


</p>

<br>
<h1>Revenue Breakdown</h1>

<table border="1">
  <tr>
    <th>Manufacturer</th>
    <th>Plane Size</th>
    <th>Class</th>
    <th>Total Revenue</th>
  </tr>

  {% for r in money_intake %}
  <tr>
    <td>{{ r.Manufacturer }}</td>
    <td>{{ r.Size }}</td>
    <td>{{ r.Class_type }}</td>
    <td>{{ r.price }}</td>
  </tr>
  {% endfor %}
</table>
<br>
<h1>Crew Flight Hours</h1>

<table border="1">
  <tr>
    <th>Employee ID</th>
    <th>Short-haul hours</th>
    <th>Long-haul hours</th>
  </tr>

  {% for r in staff_flight_hours %}
  <tr>
    <td>{{ r.Employee_id }}</td>
    <td>{{ r.sum_short_duration }}</td>
    <td>{{ r.sum_long_duration }}</td>
  </tr>
  {% endfor %}
</table>
    <br>
<h1>Monthly Cancellation Rate</h1>

<table border="1">
  <tr>
    <th>Month</th>
    <th>Cancellation Rate (%)</th>
  </tr>

  {% for r in cancellation_report %}
  <tr>
    <td>{{ r.ym }}</td>
    <td>{{ r.cancellation_rate_pct }}</td>
  </tr>
  {% endfor %}
</table>
    <br>
<h1>Plane Monthly Utilization</h1>

<table border="1">
  <tr>
    <th>Plane ID</th>
    <th>Month</th>
    <th>Cancelled</th>
    <th>Performed</th>
    <th>Utilization (%)</th>
    <th>Dominant Routes</th>
  </tr>

  {% for r in utilization_report %}
  <tr>
    <td>{{ r.Plane_id }}</td>
    <td>{{ r.ym }}</td>
    <td>{{ r.cancelled_cnt }}</td>
    <td>{{ r.performed_cnt }}</td>
    <td>{{ r.utilization_pct|round(2) }}</td>
    <td>{{ r.dominant_routes }}</td>
  </tr>
  {% endfor %}
</table>


<form method="GET" action="{{ url_for('admin_dashboard') }}">
  <button type="submit">Back to Admin</button>  
</form>
</body>
</html>
