<!DOCTYPE html>
<html>
<head>
    <title>FLYTAU Seat Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="corner-logo">
  <a href="{{ url_for('landing_page') }}">
    <img src="{{ url_for('static', filename='flytau_logo_circle.png') }}" alt="FLYTAU">
  </a>
</div>
    <form method="POST" action="{{ url_for('seat_selection', flight_number=flight_number, count=count) }}">
        <h2>Select Seats for {{ count }} Passengers</h2>
        {% for i in range(1, count + 1) %}
  <h3>Passenger {{ i }}</h3>

<table border="1">
  {% for row_num, row_seats in seats.items() %}
    <tr>
      {% for seat in row_seats %}
        <td>
          {% if seat.Availability %}
            <label>
              <input
                type="radio"
                name="seat_{{ i }}"
                value="{{ seat.Row_num }}{{ seat.Col_num }}"
                required
              >
              {{ seat.Row_num }}{{ seat.Col_num }}
            </label>
          {% else %}
            ❌
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endfor %}


        <button type="submit">Confirm Seats</button>
    </form>
</body>
</html>
